
body {
  text-align: center;
  background-color: lightblue;
  padding: 25px;
  font-family: 'Courier New', Courier, monospace;
}
#app{
  position: absolute;
}
#grids{
  float: left;
}
#ships{
  float: right;
}
#table1{
  float: left;
}
#table2{
  float: right;
}
table {
  margin: 50px;
  text-align: center;
  border-collapse: collapse;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
button{
  width: 30px;
  height: 30px;
}      
a {
  color: #00B7FF;
}
