
body {
  text-align: center;
  background-color: #9e9e9e;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
}
#continue{
  display: none;
  margin: auto;
}
#app{
  display: none;
}
#ready{
  visibility: hidden;
}
#tagForm{
  display: none;
}
#table1{
  display: none;
}
#grids{
  background-color: white;
  border: 1px solid black;
  float: left;
}
#key{
  background-color: white;
  border: 1px solid black;
  float: right;
}
.tableRight{
  float: right;
}
.tableLeft{
  float: left;
}
.hit{
  background-color: red;
}
.miss{
  background-color: white;
}
.sunk{
  background-color: black;
}
.water{
  background-color:#73e8ff;
}
table {
  margin: 40px;
  text-align: center;
  border-collapse: collapse;
}
thead {
  background-color: #cfcfcf; 
}
td {
  background-color:#73e8ff;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.optionbtn{
  border: none;
  font-family: 'Courier New', Courier, monospace;
  background-color:#73e8ff;
}    

